<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Witaj!</h1>
    <p>w komponencie UI</p>
    <p><a class="btn btn-primary btn-lg" href="/readouts" role="button">Pomiary »</a></p>
  </div>
</div>
