<p>Witaj <%= @resource.email %>!</p>

<p>Zawnioskowana została zmiana hasła. Kliknij w poniższy link, aby ustawić nowe hasło:</p>

<p><%= link_to 'Zmień moje hasło', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jeśli nie Ty wnioskujesz o zmianę hasła, zignoruj tą wiadomość.</p>
<p>Zmiana hasła nastąpi jedynie po kliknięciu w powyższy link i podaniu nowego hasła.</p>
